nav{
    grid-area: nav;
    background-color: #A6CFD9;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: large;
}

nav img{
    height: 120px;
    position: relative;
    top: 1em;
    left: 0;
}

nav img:hover{
    box-shadow: 5px 5px  10px #888888;
    transition: 0.5s;
}

nav a{
    text-decoration: none;
    color: #27418C;
    font-family: new-order,sans-serif;
    font-weight: 700;
    font-style: normal;
}

nav a:hover{
    text-decoration: underline;
    box-shadow: 0px 5px 10px #888888;
    transition: 0.5s;
}

footer{
    /* grid-area: footer; */
    position: fixed;
    bottom: 0px;
    margin: 0px;
    width: 100%;
    background-color: #A6CFD9;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: fixed;
    bottom: 0;
    right: 0;
    left: 0; */
}