body{
    margin: 0px;
}

section{
    margin: 80px;
    text-align: center;
}

main{
    margin: 50px;
}

main .bio-wrapper{
    margin: 50px;
    display: flex;
    justify-content: center;
    /* display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 100px 100px 100px;
    grid-template-areas: 
        ". div ."
        ". div ."
        ". div ."; */
}


main img{
    /* background-color: black; */
    margin: 20px;
    width: 300px;
    height: 100%;
}




main .badge-wrapper{
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main .badge-wrapper .badge{
    /* display: block;
    border: 1px solid black; */
    margin: 20px 80px;
    /* display: flex;
    justify-content: space-between; */
}

main .badge-wrapper .badge img{
    height: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main .badge-wrapper .badge div{
    text-align: center;
}



main .works-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

main .works-wrapper .item img{
    height: fit-content;
}

/* contact styles */

.contact-wrapper{
    margin: 50px;
    display: flex;
}

.contact-wrapper .contact{
    display: grid;
    grid-template-columns: 90px 1fr;
    align-items: center;
}

.contact-wrapper .contact img{
    width: 50px;
    height: fit-content;
}

.vl {
    border-left:6px solid black;
    height: 500px;
}

.right-wrapper{
    margin: 60px 100px;
}

.right-wrapper a{
    display: block;
    text-decoration: none;
    color: black;
}

.right-wrapper a:hover{
    text-decoration: underline;
}

.right-wrapper form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}